.home-button{
    position: relative;
    background-color: #f1e8ff;
    width: 150px;
    height: 150px;
    place-self: center;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    text-align: center;
}
.home-button-text{
    font-size: 25px;
    font-family: Muli-Regular, serif;
    color: #0B2D38;
    transition: 0.3s;
}
.home-button:hover{
    .delete-home-button{
        transition: 0.3s;
        width: 20px;
    }
    width: 160px;
    height: 160px;
    background-color: rgb(236, 255, 254);
    border: solid 1px rgb(203, 232, 255);
    transition: 0.3s;
    .home-button-text{
        font-size: 27px;
        transition: 0.3s;
    }
}
.delete-home-button{
    position: absolute;
    margin: 0;
    right: 15px;
    top:15px;
    width: 0px;
}
.delete-home-button:hover{
    cursor: pointer;
    border-radius: 20%;
    transform: rotate(180deg);
}