@import '../../mixins/mixins';

.back-button{
  background-color: #a396ff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 50px;
}
.cringe{
  width: 90px;
}
.header-text{


}
.back-button:hover{
  background-color: #d1b9ff;
}
.sensor-button{
  width: 100%;
  height: 80px;
}

.sensors-panel{
  @include base-panel;
  width: 70vw;
  max-width: 70vw;
  border-radius: 25px;
  border-bottom: solid 20px #8282bc;
  border-left: solid 10px #8282bc;
  border-right: solid 10px #8282bc;
}
.sensors-header{
  @include base-header;
  flex-direction: row;

  width: 100%;
  justify-content: space-between;
}
.sensors-body{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;

}
.sensor-add{
  width: 99%;
  border-radius: 20px;
  height: 100px;
  min-height: 100px;
  background-color: rgba(199, 208, 255, 0.43);
  border: solid 1px #88789d;
  text-align: center;
  font-size: 200%;
  margin-bottom: 30px;
}
.sensor-add-text{
  margin-top: 30px;
  color: #8f719f;
}
.sensor-add:hover{
  background-color: rgba(222, 223, 255, 0.51);
  transition: 0.2s;
}
.highchart-wrapper{
  width: 100%;
  align-items: center;

}
.modal-panel{
  background-color: #a89dc0;
  height: max-content;
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 100px;
  text-align: center;
}
.modal-title{
   height: 100px;
   font-size: 3em;
   color: white;
  margin-bottom: 40px;
}
.slider-wrapper{
  width: 100%;
  justify-self: center;

}
.sensors-devices{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.devices-body{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
}
.sensors-body::-webkit-scrollbar{
  width: 10px;
  height: 0px;
  background-color: #8282bc;
}