.page{
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue ;
}
@media  screen and (max-height: 500px) , screen and (max-width: 840px){
    .page{
        height: calc(100vh - 25px);
    }
  }

body{
    min-height: 500px;
    min-width: 700px;
}
@font-face {
    font-family: "Muli-Regular";
    src: url('../fonts/muli/Muli-Regular.ttf');
}
@font-face {
    font-family: "Muli-SemiBold";
    src: url('../fonts/muli/Muli-SemiBold.ttf');
}